
body{ background:#f8f8f8;}
i{ font-style:normal;}

#web_announce{ height:25px; background:#fffcd5; border:1px solid #e7e4c1; width:1010px; margin:0 auto; overflow:hidden; line-height:25px; padding:9px 0; margin-top:30px; border-radius:5px;} 
#web_announce span{ float:left; background:url(../images/gg_announce.png) 20px center no-repeat; padding-left:50px;color:#985849; font-weight:bold;}
#web_announce .scroll_an{ height:25px; overflow:hidden; float:left; padding-left:7px; line-height:25px;}
#web_announce ul li{ height:25px;}
#web_announce ul li a{ color:#ff6102; text-shadow:1px 1px 1px #ffffff;}

/*---------------------------------------------*/
.middle{ width:1010px; margin:0 auto; position:relative; margin-top:15px; margin-bottom:50px;}
.InLine{ background:#FFF; border:1px solid #e8e8e8;}
.mid_left{ width:206px; float:left; float:left; min-height:710px;}

.manage_tx{ height:365px;}
.mana_tx{ height:150px;}
.mana_tx h3{ display:block; height:55px; line-height:55px; color:#333333; font-size:18px; font-weight:normal; padding-left:15px;}
.mana_tx span{ display:block; width:79px; float:left; margin-left:15px; font-size:12px;}
.mana_tx .tx_gl{ width:79px; height:79px; position:relative; padding-left:15px; margin-left:0;}
.mana_tx .tx_gl img{ border-radius:3px;}
.mana_tx .tx_gl .modify_tx{ display:block; width:100%; height:20px; line-height:20px; position:absolute; bottom:0px; text-align:center; font-size:12px; background:url(../images/aa.png) repeat; color:#dfdfdf;}
.mana_tx .certi_pic a{ display:block; width:23px; height:23px; float:left; background:url(../images/rz_icon.png) no-repeat; margin-left:4px;}
.mana_tx .certi_pic .certi_fir{ margin-left:0; background-position:0px 0px;}
.mana_tx .certi_pic .certi_sec{ background-position:-27px 0;}
.mana_tx .certi_pic .certi_thi{ background-position:-54px 0;}
.mana_tx .certi_pic .fir_pass{ background:url(../images/rz_icon_pass.png) 0 0 no-repeat; margin-left:0;}
.mana_tx .certi_pic .sec_pass{ background:url(../images/rz_icon_pass.png) -27px 0 no-repeat;}
.mana_tx .certi_pic .thi_pass{ background:url(../images/rz_icon_pass.png) -54px 0 no-repeat;}
.mana_tx .mana_aq{ line-height:22px;}
.mana_tx .mana_aq i{ color:#ff7426;}
.mana_tx .mana_aq .safe_ts{ color:#0080fe;}

/*----------------------安全等级-----------------------*/
.progress_container{padding:1px;width:74px;height:2px;overflow:hidden;background:url(../images/progress_container.png); float:left; margin:8px 0 8px 15px;}
.progress1{ width:76px;background:url(../images/progress1.png);}
.progress_bar{height:4px;width:0px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:url(../images/progress_bar.png);}
/* tipsy */
.tipsy{padding:5px;font-size:11px;position:absolute;z-index:9999;}
.tipsy-inner{padding:6px 8px 6px 8px;background-color:black;color:white;max-width:200px;text-align:center;}
.tipsy-inner{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tipsy-arrow{position:absolute;background:url('../images/tipsy.gif') no-repeat top left;width:9px;height:5px;}
.tipsy-n .tipsy-arrow{top:0;left:50%;margin-left:-4px;}
.tipsy-nw .tipsy-arrow{top:0;left:10px;}
.tipsy-ne .tipsy-arrow{top:0;right:10px;}
.tipsy-s .tipsy-arrow{bottom:0;left:50%;margin-left:-4px;background-position:bottom left;}
.tipsy-sw .tipsy-arrow{bottom:0;left:10px;background-position:bottom left;}
.tipsy-se .tipsy-arrow{bottom:0;right:10px;background-position:bottom left;}
.tipsy-e .tipsy-arrow{top:50%;margin-top:-4px;right:0;width:5px;height:9px;background-position:top right;}
.tipsy-w .tipsy-arrow{top:50%;margin-top:-4px;left:0;width:5px;height:9px;}	

.mana_credit{ height:100px; width:205px; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; padding-top:15px; }
.mana_credit span{ display:block;}
.mana_credit .sign_in{ width:104px; height:55px; background:url(../images/sign_in.jpg) center center no-repeat; line-height:47px; padding-left:15px; cursor:pointer; float:left; margin-left:10px;}
.mana_credit .sign_complete{ width:104px; height:55px; background:url(../images/signin_d.jpg) center center no-repeat;line-height:47px; padding-left:15px; cursor:pointer; float:left; margin-left:10px;}
.mana_credit .credit_p{ display:block; width:55px; float:left; margin-left:10px; font-size:12px; line-height:22px;}
.mana_credit .jf_credit{ color:#ff7426; font-size:14px;}
.mana_credit .sign_txt{ display:block; width:192px; height:27px; background:#f5f5f5; font-size:12px; margin:0 auto; text-align:center; line-height:27px; margin-top:5px;}
.mana_credit .sign_day{ color:#ff6600; font-weight:bold; font-style:normal; padding:0 5px;}
.mana_credit .sign_points{ color:#4dbd74; font-weight:bold;font-style:normal; padding:0 5px;}

.mana_balance{ height:100px; padding-left:15px;}
.mana_balance p{ display:block; height:37px; line-height:37px; margin-top:8px;}
.mana_balance p span{ font-size:16px; color:#05a2c3;}
.mana_balance .mor_cz{ display:block; width:78px; height:25px; text-align:center; float:left; color:#ffffff; background:url(../images/member_topup.png) center center no-repeat; font-size:12px; line-height:25px; margin-top:5px;}
.mana_balance .mor_tx{ background:url(../images/member_cash.png) center center no-repeat; color:#545454; margin-left:10px;}

.manage_ul{ margin-top:15px; position:relative;}
.manage_ul li a{ display:block; height:50px; line-height:50px; background:url(../images/manage_left.png) no-repeat; padding-left:60px; border-bottom:1px solid #f2f2f2;}
.manage_ul .selected a{background:url(../images/manage_hover.png) no-repeat;color:#00b1aa;}
.manage_ul .left_1,.manage_ul .selected .left_1{ background-position:25px 15px;}
.manage_ul .left_2,.manage_ul .selected .left_2{ background-position:25px -35px;}
.manage_ul .left_3,.manage_ul .selected .left_3{ background-position:25px -85px;}
.manage_ul .left_4,.manage_ul .selected .left_4{ background-position:25px -134px;}
.manage_ul .left_5,.manage_ul .selected .left_5{ background-position:25px -187px;}
.manage_ul .left_6,.manage_ul .selected .left_6{ background-position:25px -234px;}
.manage_ul .left_7,.manage_ul .selected .left_7{ background-position:25px -335px;}
.manage_ul .left_8,.manage_ul .selected .left_8{ background-position:25px -283px;}
.manage_ul .left_9,.manage_ul .selected .left_9{ background-position:27px -385px;}

.feed_b{ display:block; width:127px; height:79px; background:url(../images/feed_b.png) center center no-repeat;  font-size:20px; font-weight:bold; padding:75px 0 0 110px; margin-top:20px;}
.feed_b a{ color:#ffffff;}

.message_num{ padding:0 5px; float:right; line-height:18px; margin:15px 50px 0 0; border:1px solid #ff7800; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -webkit-border-radius:3px; color:#ff7800; font-size:12px;}



.mid_right{ width:787px; min-height:790px; float:right;}
.mid_right .mr_center{ padding:0 20px 20px 20px; }
.mr_center table{ font-size:14px;}
.mid_right .mr_center h2{ font-size:20px; font-weight:normal; color:#000000;}


.bt{ display:block; height:50px; line-height:50px; border-bottom:1px solid #e8e8e8; font-size:18px; background:url(../images/mana_h3.png) left center no-repeat; font-weight:normal; color:#333333; padding-left:20px;}
.bt .back_old{ font-size:14px;cursor:pointer; float:right; background:#00b1aa; color:#ffffff; border-radius:3px; line-height:20px; padding:5px 10px; margin:10px 15px 0 0;}
.member_bt{ display:block; background:#f6f6f6; height:40px; line-height:40px; border-bottom:1px solid #e8e8e8; font-size:16px; font-weight:normal; padding-left:20px; color:#333333;}

.member_con{ border:1px solid #e8e8e8; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}

/*-------------------------------------------------*/
.wealth{ display:block; width:748px; height:181px; background:url(../images/money_browse.png) center center no-repeat; margin-top:20px;}
.wealth li{ display:block; width:240px; height:85px; float:left; text-align:center;}
.wealth li.w_fir{ margin-left:0; position:relative;}
.wealth li.w_fir .q_mark{ padding:3px 0 0 5px;}
.wealth li.w_fir .t_am{ width:390px; height:30px; font-size:12px; background:url(../images/total_amount.png) top center no-repeat; display:none; position:absolute; padding-top:22px; text-align:center; z-index:8888; color:#333333; left:53px;}
.wealth li span{ display:block; text-align:center; color:#556365;}
.wealth li .amount{ font-size:20px; color:#05a2c3; line-height:45px; margin-top:8px;}
.wealth .rew-blo{ position:relative;}
.rew-blo .rew-js{ position:absolute; right:-135px; top:20px;}
.rew-blo .rew-js .rew-txt{ font-size:12px; padding:5px 7px; background:#ffffff; border:1px solid #e2e2e2; border-radius:3px; position:relative;}
.rew-js .rew-txt font{ color:#ff6c00;}
.rew-blo .rew-txt .rew-an{ position:absolute; left:-11px; top:5px; display:block; width:11px; height:30px;}
.wealth .reward_j{ display:block; width:100px; float:left; padding-left:70px;}
.wealth .reward_g{ width:70px; float:left;}
.wealth .reward_g span{ text-align:left;}
.wealth .reward_g span a{ display:block; width:34px; height:34px; margin-top:25px;}

/*-----------------------chart and trading---------------------*/
.chart,.trading{ margin-top:30px;}
.d_tra{ border:1px solid #dddddd; border-radius:5px; overflow:hidden; margin-top:30px;}
.tra_tab{}
.tra_tab td { text-align:left; padding:0 0 0 15px; color:#646464; font-size:12px;}
.tra_tab th{ color:#000000; font-weight:normal; text-align:left; padding-left:15px; font-size:12px; line-height:45px;  border-right:1px solid #ffffff; background:#eeeeee;}
.tz_Lb td , .tz_Lb th{ padding-left:3px;}
.tra_tab .date{ font-size:12px;}
.tra_tab .add{ color:#db0000;}
.tra_tab .green{ color:#28bf00;}
.tra_tab .jy_xx{ padding:8px 0 8px 15px;}
.tra_tab #tbody{}

.even{ background:#f8f9fa;}
.odd{ background:#ffffff;}
.access{ border-left:2px solid #3498db; background:#eff7fd;}
.click{border-left:2px solid #3498db; background:#e4f3ff;}


/*---------------------------个人资料---------------------------*/
.personal_l{ width:750px; margin:0 auto; margin-top:30px; }
.personal_l li{ display:block; height:45px; padding-left:30px; border-bottom:1px solid #dfdfdf;line-height:45px;}
.personal_l li.complete{ background:url(../images/complete.jpg) left center no-repeat;}
.personal_l li.nonecomplete{ background:url(../images/nonecomplete.jpg) left center no-repeat;}
.personal_l .per_y{ display:block; width:80px; float:left;color:#a3a3a3;}
.personal_l .per_y_mark{ font-size:12px; color:#F00; padding-left:10px;}
.personal_l li a { color:#e44343; float:right; margin-right:15px;}
.personal_r{ width:100%; height:115px;  margin-top:20px;}
.personal_r span a{ color:#e44343; float:left;}
.personal_r span{ display:block; float:left; text-align:left;}
.personal_r .perso_img{ width:100px; text-align:center;}
.personal_r .perso_img img{ border-radius:5px;}
.personal_r .perso_name,.perso_modify{ width:600px; margin:10px 0 0 20px;}
.personal_r .perso_name{ color:#333333; margin-top:20px; font-size:16px;}


.safe1{ width:420px; float:left; margin-top:60px;}
.safe1 span{ float:left;}
.safe1 .safe_ts{ margin:2px 0 0 10px; color:#3CF; line-height:20px;}

.black_em , .black_em_a , .black_em_b , .black_em_c , .black_em_e{ width:100%; min-height:1080px; position:fixed; top:0; z-index:100; background:url(../images/black.png) repeat; display:none;}
.em{ width:400px; margin:0 auto; background:#ffffff; margin-top:10%; position:relative;}
.em h3{ line-height:40px; border-bottom:1px solid #eeeeee; background:#f3f3f3; padding-left:20px; font-size:14px;}
.em p{ padding:40px 30px 40px 80px; color:#808080;}
.em p span{ display:block; padding-bottom:5px;}
.em p input,.new_email input{ width:230px; height:28px; border:1px solid #e6e6e6; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.em .yz_code{ width:235px; float:left; }
.em .send_yzm{ float:left; width:80px; height:32px; font-size:12px;}
.em .vali_mes,.em .vali_voi{ margin-top:20px;}
.em .vali_voi{ margin-left:15px;}
.em .sub,.new_email .sub{ width:235px; height:35px; line-height:35px; border:0; background:#e44343; font-size:14px; color:#ffffff; font-family:"微软雅黑"; margin-top:30px;}
.em .close{ position:absolute; display:block; width:30px; height:30px; top:13px; right:5px;}
.em .card_mark{ font-size:12px; color:#F00; line-height:22px; margin-top:20px; display:block; width:325px; margin:0 auto; padding-bottom:20px;}

.em .jf_input{ position:relative;}
.em .jf_pop{ position:absolute; font-weight:normal; display:block; width:190px; height:30px; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -webkit-border-radius:3px; background:#ffffff; border:1px solid #dfdfdf; line-height:30px; top:-35px; left:30px; padding-left:10px; box-shadow:2px 2px 2px #aaaaaa;}
.em .jf_pop i{ color:#e44343; font-style:normal;}

.new_email{ display:block; width:400px; margin:50px 0 0 30px;}
.new_email span{ display:block; padding-bottom:5px;}
.modify_tit{ color:#333333; font-size:16px;}
.old_infor{ line-height:30px;}

/*---------------------------投资记录--------------------------*/
.sx_mark{ border:1px solid #dddddd; padding:15px 0; border-radius:5px;}
.screening{ line-height:35px; height:35px; padding-left:20px; margin-top:10px;}
.screening span{ float:left;}
.screening .sx_label{ display:block; width:80px; color:#b0b0b0;}
.screening .sx_date{ float:left; width:115px;}
.screening .sx_date input{ border:1px solid #efefef; width:100px; height:23px;}
.screening .sx_rq a{ margin:0 10px;}
.to_d{ padding:2px 20px; background:#e44343; color:#ffffff; border-radius:3px;}
.screening .sx_tj{ width:50px; height:20px; background:#dddddd; border:none; color:#808080; margin:8px 0 0 10px;}

.tra_tab .project{ line-height:20px; padding:15px 0 15px 15px;}
.tra_tab .project .number{ font-size:12px; color:#b2b2b2;}
#pro_tbody td{ border-bottom:1px solid #e7e7e7;}

.record-tj{ background:#fafafa; border:1px solid #e2e2e2; line-height:40px; height:40px; margin-top:20px;}
.record-tj span{ display:block; width:30%; float:left; margin-left:10px;}
.record-tj span font{ font-size:18px; color:#e44343;}

.join-record{ color:#333333;}
.join-record p,.join-record span{ display:block; float:left;}
.join-record li{ display:block; border:1px solid #e2e2e2; float:left; margin-top:20px; width:100%; height:175px;}
.join-record .join-left{ float:left; width:150px; border-right:1px solid #e2e2e2; background:#eeeeee; padding:10px 10px 10px 15px; line-height:30px; height:155px;}
.join-record .join-right{ float:left; width:570px; line-height:35px;}
.join-left .record-nh{ width:100%;}
.join-left .record-nh font{ display:block;padding:15px 0 8px 0; font-weight:bold; height:45px;}
.join-left .record-nh font i{ color:#e44343; font-size:14px; float:left; margin:8px 0 0 5px;}
.join-left .record-nh font i.list-rate{ font-size:34px; color:#eb6100; margin:0px 0 0 0px; }
.join-right .join-name{ height:45px; width:555px; border-bottom:1px solid #e2e2e2; line-height:45px; font-size:16px; font-weight:bold; padding-left:15px;}
.join-right .join-name a{ float:left;}
.join-right .join-name .contract{ background:#1cb8a3; color:#ffffff; display:block; width:47px; height:24px; background:url(../images/contract.png) center center no-repeat; text-align:center; line-height:24px; float:right; margin:10px 10px 0 0; font-weight:normal; font-size:14px;}
.join-right .join-name span{ float:left; font-size:12px; color:#1cb8a3; line-height:20px; padding:0 7px; border:1px solid #1cb8a3; border-radius:3px; font-weight:normal; margin:12px 0 0 10px;}
.join-right .join-detail{ padding:10px 15px;}
.join-right .join-detail span{ width:260px;}
.join-right .join-detail span font{ color:#008fae;}

/*--分页--
.page{ width:450px; text-align:center; margin:0 auto; margin-top:40px;}
.page a{ border:1px solid #d7d7d7; padding:5px 10px; margin:0 5px;}
.page .sel{ background:#3bc0c3; color:#ffffff;}*/

/*------------------------回款明细-------------------------*/
.receivable{ width:730; height:95px; background:#f0f4f7; padding:20px 20px;}
.receivable ul li{ display:block; width:180px; float:left; margin-left:3px; border-right:1px solid #d9e1e7;}
.receivable ul li span{ display:block; padding-left:16px;}
.receivable .hk_je{ font-size:22px; color:#05a2c3; margin:15px 0 10px 0;}
.receivable .hk_je font{ font-size:12px; padding-left:5px; color:#808080;}
.receivable .hk_img{ margin-top:15px;}
.hk_sx{ margin-top:30px;}


/*------------------------我的红包------------------------*/
.red_envelope li{ display:block; width:223px; height:135px; background:url(../images/hb.png) center center no-repeat; color:#f7c318; float:left; margin:10px 17px; position:relative;}
.red_envelope li span{ display:block; text-align:center; line-height:28px;}
.red_envelope li .jine{ padding:20px 0 10px 0;}
.red_envelope li span font{ font-size:40px; font-weight:bold;}
.red_envelope li .ygq{ position:absolute; right:8px; bottom:10px;}

/*-------------------------消息中心-----------------------*/
.message li{ line-height:50px; border-bottom:1px solid #efefef; margin:0 10px; min-height:50px;}
.message li span{ float:left; display:block; }
.message .mes_img{ padding:18px 10px 0 0; width:26px;display:inline-block;}
.message .mes_img img{ float:left;}
.message .mes_txt{ color:#64bed1;}
.message .mes_con{ width:525px;}
.message .mes_con a{ font-size:14px;}
.message .mes_date{ font-size:12px; color: #bebebe; float:right; width:130px;}
.message .mes_box{ float:left; padding:18px 7px 0 0; width:24px;}
.mess_nr{ background:#f0f4f5; padding:7px 20px; margin-bottom:20px; display:none;}
.all_read{ margin:20px 0 0 10px;}
.all_read span{ color:#2167b5; padding-left:5px;}

/*-------------------------资产统计-----------------------*/
.assets{}
.assets h3{ display:block; font-weight:normal; height:60px; color:#a7a7a7; margin-bottom:20px; padding-left:20px;}
.assets h3 .zc_ze{ float:left;}
.assets h3 .zcze{ color:#545454; font-size:30px;}
.assets h3 .jlje{ float:right; margin:15px 40px 0 0 ;}
.assets h3 .jlje span{ color:#e44343;}
.assets h3 span font{ font-size:14px;}

#myStat2,#myStat3,#myStat4,#myStat5{ float:left; margin:0 10px;}

.circliful {
	position: relative;
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
	width: 100%;
	position: absolute;
	text-align: center;
	display: inline-block;
}
.circle-info, .circle-info-half {
	color: #999;
}
.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px; 
}

.proportion{ width:100%; height:105px; margin-bottom:25px;}
.proportion ul{}
.proportion li{ display:block; width:125px; height:101px; float:left; margin-left:15px; text-align:center; padding-left:105px;}
.proportion li span{ display:block; text-align:left; color:#333333; font-size:18px;}
.proportion li span.tzi_f{ margin:20px 0 10px 0; color:#808080; font-size:14px;}
.proportion li.tzi_1{ background:url(../images/tz_1.png) center center no-repeat;}
.proportion li.tzi_2{ background:url(../images/tz_2.png) center center no-repeat;}
.proportion li.tzi_3{ background:url(../images/tz_3.png) center center no-repeat;}

#myStat2,#myStat3,#myStat4{ margin:0 35px;}
.total_amout{ display:block; height:75px;}
.total_amount li{ display:block; width:350px; float:left; height:75px; text-align:center;  border:1px dashed #d7d7d7; border-left:none;}
.total_amount li span,.detail_amount li span{ display:block;}
.detail_amount li{ display:block; float:left; width:175px; height:75px; text-align:center; border-right:1px dashed #d7d7d7; border-bottom:1px dashed #d7d7d7;}
.total_tit{ line-height:28px; margin-top:10px;}
.total_je{ line-height:35px; color:#333333; font-size:16px;}

.top_up{ width:180px; height:40px; border:1px solid #dddddd; padding-left:10px; color:#808080;}
.topup_sub{ width:190px; height:40px; border:none; background:#e44343; color:#ffffff;}
.hqyz{ width:100px; height:40px; border:none; background:#e44343; color:#ffffff;}

.reg_xy{ color:#0098d7;}

.bank_txt{width:230px; height:80px; color:#646464; border:1px solid #e6e6e6; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.bank_annotation{ font-size:12px; padding:10px 20px 0 0;}


.bank_1,.with_add{ display:block; width:130px; height:71px; background:#e3e7eb; border:1px solid #cccccc; border-radius:3px;}
.bank_1 span{ display:block; text-align:center;}
.bank_1 .bank_name{ height:40px; border-bottom:1px dashed #cccccc; background:#ffffff;}
.bank_1 .bank_num{ line-height:30px; height:30px; color:#5d5d5d; font-weight:bold;}
.with_add{ color:#316fb1; background:url(../images/with_add.png) #e3e7eb center 10px no-repeat; text-align:center; padding-top:40px; height:31px; cursor:pointer; font-size:12px;}
.bank_card{ padding-right:20px;}
.bank_card span{ line-height:80px;}
.bank_k ul li{ display:block; float:left; width:130px;margin:5px 5px;}
.bank_k ul li .xg_txt{ display:block; text-align:center; margin-top:10px;}
.modify_bank{ font-weight:normal;color:#316fb1; font-size:12px; padding-left:5px; cursor:pointer;}
.tx_table{ border-collapse:collapse; margin-top:20px;}
.tx_table .bank_k{ padding:20px 0 20px 20px;}
.tx_table .bank_d{ padding-left:20px;}
.bank_d .hq_yz{ width:100px; height:35px; color:#ffffff; background:#19bd9b; border:none; border-radius:3px; margin-left:10px; font-size:12px; cursor:pointer;}
.bank_d .yz_voice{ background:#ff6c00;}
.tx_bank{ width:660px;height:445px; background:#ffffff; margin:0 auto;position:absolute;}
.tx_bank h3{ background:#f2f3f5; display:block; height:50px; line-height:50px; color:#000000; padding-left:30px; position:relative;}
.tx_bank h3 span{ position:absolute; top:-10px; right:-10px; cursor:pointer;}
.tx_bank .xg_bank{ margin:20px 0 15px 100px;}
.tx_bank .mod_intro{ color:#255e9b;}
.tx_bank li{ display:block; min-height:60px; line-height:35px;}
.tx_bank span{ float:left;}
.tx_bank .Tm_B{ color:#333333; font-weight:bold; display:block; width:93px;}
.tx_bank .button_bank{ display:block; height:60px; background:#f2f3f5; border-top:none;}
.tx_bank .inp,.tx_bank .inp_city{ display:block; width:225px; height:35px; line-height:35px; border:1px solid #e2e2e2; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -webkit-border-radius:3px; padding:0 10px;}
.tx_bank .inp_city{ width:120px; float:left; padding-right:0;}
.tx_bank .inp_t{ width:225px;line-height:35px; background:#e8e8e8; cursor:pointer;}
.tx_bank .bank_txt{ width:350px; padding:10px 10px; border:1px solid #e2e2e2; margin:5px 0 10px 0; height:30px;}
.tx_bank .bank_name{ font-size:12px; color:#aaaaaa; padding-left:10px; font-weight:normal;}
.tx_bank .bank_one{ background:url(../images/bank_one.png) left center no-repeat;}
.tx_bank .bank_name i{ color:#F60;}
.tx_bank .sub{  width:70px; height:35px;background:#375473; color:#ffffff;  border-radius:3px; border:none;  margin:10px 0 0 200px; cursor:pointer;}
.tx_bank .sub_s{background:#dbdbdb; color:#545454; margin:10px 0 0 50px;} 

#city_1 .prov,#city_1 .city{ width:120px; height:35px; border:1px solid #e2e2e2; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -webkit-border-radius:3px; margin:5px 0 10px 0;}

.bank_sel{ width:720px; height:500px; background:#ffffff; margin:0 auto; margin-top:10%; position:relative;}
.bank_sel h3{ display:block; background:#f3f3f3; color:#333333; font-size:16px; line-height:40px; height:40px; padding-left:20px;}
.bank_sel .close{ display:block; width:20px; height:20px; position:absolute; top:10px; right:10px;}
.bank_sel ul{ padding:20px 25px;}
.topup_bank li{ display:block; width:160px; height:60px; float:left; margin:5px 3px;}
.topup_bank li span{ display:block; float:left;}
.topup_bank .bank_radio{ padding-top:15px; width:20px;}
.topup_bank .bank_img{ border:1px solid #e8e8e8; width:131px;}
.bank_sel p{ display:block; text-align:center;}

.cz_bank li{ width:150px;}
.cz_bank .bank_img{ width:120px;}

.bank_sel .bank_sure{ width:140px; height:40px; border:none; color:#ffffff; background:#e44343;}

.tx_money{ position:relative;}
.tx_money .money_mark{ position:absolute; left:220px; font-size:12px; border:1px solid #e8e8e8;border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -webkit-border-radius:3px; padding:5px 10px; box-shadow:2px 2px 2px #d8d8d8; color:#333333; display:none;}
.tx_money .money_mark font{ color:#ef5207;}

.weight{ font-weight:bold;}
.xx_cen{ display:block; border-bottom:1px solid #eeeeee; line-height:40px; height:40px; margin:10px 0 20px 0;}
.xx_cen span{ display:block; width:110px; float:left;  text-align:center;}
.xx_cen span a{font-size:18px; color:#000000;}
.xx_cen .sel_d{ border-bottom:2px solid #e44343;}
.xx_cen .no_sel a{ font-size:16px; color:#646464;}
.xx_cen .red_cir{ background:url(../images/red_cir.png) right 7px no-repeat;}

.prompt{line-height:30px; padding:20px 20px; margin-top:20px; font-size:12px; background:#fff8d9; border:1px solid #febf8f;}
.prompt1{line-height:30px; padding:5px 20px; margin-top:20px; font-size:12px; background:#fff8d9; border:1px solid #febf8f;}

/*------------------------自动投标----------------------*/
.sx_auto{ border:1px solid #dfdfdf; margin-top:30px;}
.auto{ display:block; background:#e44343; width:80px; height:35px; color:#ffffff; text-align:center; float:right; margin:12px 15px 0 0; line-height:35px;}
.auto_detail{ display:block; width:80px; background:#999999; color:#ffffff; height:35px; text-align:center;  float:right; margin:12px 20px 0 0; line-height:35px;}
.auto_h3{ font-size:16px; color:#333333; line-height:60px; border-bottom:1px solid #dfdfdf; padding-left:20px;}
.prompt .prom_p{ padding-left:40px;}
.au_x{ display:none;}
.auto_xq{ line-height:35px; margin:0 auto; margin-top:15px; margin-bottom:15px;}
.auto_left{ text-align:right; padding-right:15px; color:#808080;}
.auto_xq span{ color:#000000;}
.auto_txt{ width:160px; height:22px; border:1px solid #aaaaaa;}
.auto_n{ width:40px; height:22px;}
.auto_xq b{ font-weight:normal; font-size:12px; color:#999999; padding-left:50px;}
.auto_btn{ display:block; width:160px; height:35px; color:#ffffff; border:none; background:#e44343; font-size:14px;}

.tx_l{ font-size:12px;}


/*------------------------------------------*/
.grey{ width:100%; height:100%; position:fixed; top:0px; left:0px; background:url(../images/aa.png) repeat; z-index:9999;}
.skill_pic{ width:827px; height:512px; margin:0 auto; margin-top:140px; position:relative;}
.grey_close{ display:block; width:57px; height:60px; position:absolute; top:10px; right:10px; cursor:pointer;}
.not_show{ display:block; width:160px; height:41px; position:absolute; top:25px; right:90px; cursor:pointer;}

.cz_skill{ display:block; width:90px; height:31px; line-height:31px; color:#ffffff; text-align:center; background:#4dbd74;}



/*-----------------积分兑换-----------------*/
.integral_jf{ display:block; height:110px; margin:0 0 20px 0; border:1px solid #dddddd; border-radius:5px;}
.integral_jf li{ display:block; width:205px; float:left; border-right:1px dashed #dddddd; height:85px; padding:10px 20px;}
.integral_jf li span{ display:block; float:left;}
.integral_jf li span.Integ_txt{ line-height:35px; width:100%;}
.integral_jf li span.Integ_icon{ width:60px; margin-top:8px;}
.integral_jf li span.Integ_num{ width:130px; font-size:34px; color:#ff7200;}
.jf_jl{ line-height:45px;}
.jf_jl td{ line-height:45px;}
.jf_mark{ margin-top:30px;}
.jf_mark h3{ font-size:18px; color:#e44343;}
.jf_mark ul li{ margin:7px 0;}
.jf_mark ul li h4{ background:url(../images/jf_ask.png) left center no-repeat; line-height:45px; padding-left:30px; color:#333333;}
.jf_mark ul li p{ padding-left:30px; line-height:30px;}
.jf_p{ display:block; height:30px;}
.jf_dh{ display:block; float:right; font-size:14px; border-radius:3px; margin:10px 15px 0 0; width:90px; height:30px; background:#e44343; color:#ffffff; text-align:center; line-height:30px; cursor:pointer;}

/*---------------邀请好友---------------*/
.invitation{ width:95%; margin:0 auto;}
.invitation h3{ display:block; background:#f9f9f9; font-size:14px; font-weight:normal; line-height:30px; padding:15px 15px;}
.invitation h3 span{ color:#e44343; display:block; width:70px; height:100px; float:left; padding-right:15px;}
.invitation h3 .tjr_id{ color:#F00;}
.invitation .copy_href{ margin:30px 0; padding-left:40px; line-height:38px;}
.invitation .share{ padding-left:40px;}
.invitation .c_href{ width:335px; height:38px; border:1px solid #e2e2e2; padding:0 15px; font-size:16px; line-height:38px;}
.invitation .c_copy{ width:80px; height:38px; color:#ffffff; border:none; background:#e44343; cursor:pointer;}
.invi_tab{ float:left;}
.invi_xmj{ display:block; height:70px; background:#fef5e9; border:1px solid #ffebca; color:#fe6400; font-size:12px; line-height:35px; padding-left:15px; margin-top:20px;}
.invi_xmj span{ display:block; height:50px; float:left;}

.jlje{ margin-top:30px;}
.jf_jl td{}
.recom_h{ margin-top:30px; height:50px;}
.recom_h ul li{ display:block; width:120px; float:left; border:1px solid #e2e2e2; height:50px; line-height:50px; margin-left:15px; text-align:center; background:#f9f9f9; border-top-left-radius:3px; border-top-right-radius:3px; border-bottom:none; font-size:16px;}
.recom_h .recom_sel{ background:#ffffff;}
.recom_h .recom_sel a{ color:#000000;}
.recom_con{ border:1px solid #e2e2e2;}

/*----------------充值----------------*/
.topup_box{ font-size:12px;border: 1px solid #dddddd; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px;margin:10px 0 20px 0;}
.bank_limit{border-collapse:collapse;border-spacing: 0px; border:0px; }
.bank_limit>tbody>tr>td , .bank_limit>tbody>tr>th{border: 1px solid #dddddd; font-size:12px; text-align:left; padding:7px 10px;}
.bank_limit tr th{ background:#f3f3f3;}



/*-------------绑定银行卡--------------*/

.binding_bank li{ display:block; width:370px; float:left; margin:7px 0;}
.binding_bank li div{ width:346px; height:173px; border-radius:5px; margin:0 auto;}
.binding_bank li .first_bank{ background:#f2f2f2; border:1px solid #eaeaea;}
.binding_bank .first_bank dl dt{ width:313px; height:53px; text-align:center; background:#ffffff; border-radius:7px; margin:0 auto; margin-top:15px; margin-bottom:15px;}
.binding_bank .first_bank dl dd{ margin-left:30px; color:#333333; line-height:25px;}
.binding_bank .first_bank dd span{ display:block; width:65px; float:left;}
.binding_bank li #add_bank{ border:1px dashed #d6d6d6; background:url(../images/add_bank.png) center 50px no-repeat; text-align:center; cursor:pointer;}
.binding_bank li #add_bank span{ display:block; padding-top:90px;}
.binding_bank li i{ padding-left:10px; color:#29a9df; cursor:pointer;}

#bank_popup{ width:660px; height:445px; margin:0 auto; background:#ffffff;margin-top:10%;}
#bank_popup h3,#bank_popup p{ display:block; background:#f2f3f5;}
#bank_popup h3{ height:50px; line-height:50px; position:relative; color:#333333; padding-left:20px;}
#bank_popup p{ height:80px;}
#bank_popup h3 span{ display:block; width:28px; height:28px; position:absolute; top:-10px; right:-10px; cursor:pointer;}
#bank_popup ul{ display:block; height:295px; padding:20px 0 0 50px;}
#bank_popup ul li{ height:40px; margin-top:10px; line-height:40px;}
#bank_popup .card_num{ width:310px; height:35px; border-radius:3px; border:1px solid #d7dade; background:#fcfcfc; padding-left:10px; line-height:35px; color:#808080;}
#bank_popup .card_num:hover , #bank_popup .card_num:focus{ box-shadow:0px 0px 3px #29a9df; border:1px solid #29a9df;}
#bank_popup .provinces{ width:160px;}
#bank_popup .bank_ll{ display:block; width:90px; float:left;}
#bank_popup #choose_bank{ background:url(../images/bank_choose.png) #fcfcfc 300px center no-repeat;}

#bank_popup .yh_all{ float:left; position:relative;}
.yh_all .yh_num{ width:373px; border:1px solid #d7d7d7; position:absolute; background:#ffffff;}
.yh_all .yh_num span{ float:left; margin:2px 1px; border:1px solid #ffffff;}
.yh_all .yh_num span:hover{ border:1px solid #29a9df;}
#bank_popup .sure_sub ,#bank_popup .no_sub{ width:70px; height:35px; border-radius:3px; border:none; background:#dbdbdb; margin:20px 0 0 15px; cursor:pointer;}
#bank_popup .sure_sub{ background:#375473; color:#ffffff; margin-left:240px;}

#default_bank{ border:1px solid #29a9df; position:relative;}
#default_bank .default_img{ display:block; width:24px; height:25px; position:absolute; top:1px; right:1px;}
#add_real_name{ border:none;}



































